<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parsec">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.ConfigurationActivity"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.SystemActivity" />


        <!-- TEMP_SystemActivity and TEMP_MarketplaceActivity were made last minute SOLELY for the M7 demo, we are NOT keeping them. -->
        <activity
            android:name=".views.TEMP_SystemActivity" />
        <activity
            android:name=".views.TEMP_MarketplaceActivity"
            android:parentActivityName=".views.TEMP_SystemActivity"/>


    </application>

</manifest>